/* #region --reset-- */
body, ul, li, button, p, h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: initial;
}
/* #endregion */

/* #region --main styles-- */
html {
  --color-main-text: #7B7B7B;
  --color-secondary-text: #707070;
  --bgc-grey: #F2F2F2;
  --transition: 0.3s;

  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--color-main-text);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* #endregion */

/* #region --header-- */
.header {
  display: flex;
  justify-content: flex-end;
}

.header__nav {
  margin: 14px 10px;
}

.header__list {
  display: flex;
  gap: 14px;
  align-items: center;
}

.header__link {
  color: var(--color-secondary-text);
}

.header__link::after,
.footer__list a::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-secondary-text);
  transform: scale(0);
  transition: transform var(--transition);
}

.header__link:hover::after,
.footer__list a:hover::after {
  transform: scale(1);
}

.header__otherButton {
  border-radius: 50%;
  padding: 5px;
  transition: background-color var(--transition);
}

.header__otherButton > svg {
  width: 33px;
  height: 33px;
  fill: var(--color-secondary-text);
}

.header__otherButton:hover {
  background-color: #cacaca;
}

.header__authButton {
  background-color: #2f6fd4;
  color: white;
  padding: 10px 20px;
  border-radius: 5%;
  transition: background-color var(--transition);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.header__authButton:hover {
  background-color: #295eb4;
}
/* #endregion */

/* #region --main-- */
.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 5px;
}

.main__logo {
  font-size: 72px;
  font-weight: 100;
  margin-bottom: 30px;
  color: #4285f4;
  font-family: 'Product Sans', sans-serif;
}

.main__logo span:nth-child(2) { color: #ea4335; }
.main__logo span:nth-child(3) { color: #fbbc05; }
.main__logo span:nth-child(4) { color: #4285f4; }
.main__logo span:nth-child(5) { color: #34a853; }
.main__logo span:nth-child(6) { color: #ea4335; }

.main__language {
  line-height: 15px;
}

@media (min-width: 640px) {
  .main {
    margin-inline: 15px;
  }

  .main__logo {
    font-size: 92px;
  }
}
/* #endregion */

/* #region --form-- */
.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.form__searchBox {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #E3E3E3;
  border-radius: 22px;
  padding-inline: 7px 14px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.form__input {
  flex: 1 1 auto;
  height: 44px;
  outline: none;
  border: none;
  padding: 0;
}

.form__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--color-main-text);
}

.form__searchBox:has(.form__input:focus) {
  border: 1px solid #4285f4;
}

.form__searchButton {
  border-radius: 50%;
  padding: 2px;
  transition: background-color var(--transition);
}

.form__searchButton:hover {
  background-color: #d8d8d8;
}

.form__icon {
  max-width: 26px;
  max-height: 26px;
  fill: var(--color-main-text);
}

.form__icon_search {
  display: none;
}

.form__buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 22px;
}

.form__button {
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #F8F8F8;
  transition: background-color var(--transition);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: var(--color-main-text);
}

.form__button:hover {
  background-color: #d8d8d8;
}

@media (min-width: 640px) {
  .form__searchBox {
    gap: 10px;
  }

  .form__icon_search {
    display: block;
  }
}
/* #endregion */

/* #region --footer-- */
.footer {
  background-color: var(--bgc-grey);
  padding-block: 16px;
  display: flex;
  flex-direction: column;
}

.footer__country {
  padding-inline: 5px;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 1%;
}

.footer__line {
  height: 1px;
  margin-block: 16px;
  background-color: #DADCE0;
}

.footer__linksBlock {
  padding-inline: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  line-height: 15px;
}

.footer__list a {
  color: var(--color-secondary-text);
}

@media (min-width: 640px) {
  .footer__country,
  .footer__linksBlock {
    padding-inline: 30px;
  }

  .footer__list {
    flex-direction: row;
    gap: 30px;
  }
}
/* #endregion */
